[package]
name = "elemental-chat"
version = "0.2.0-alpha3"
authors = [ "michael.dougherty@holo.host", "philip.beadle@holo.host", "david.meister@holo.host, tom.gowan@holo.host" ]
edition = "2018"

[lib]
name = "chat"
crate-type = [ "cdylib", "rlib" ]

[dependencies]
#hdk = "0"
hdk = {  git = "https://github.com/holochain/holochain.git", rev = "8d6c4cd29bd17e8224aeffb87dc03eaf3ff33508" }
serde = "1.0.123"
chrono = { version = "0.4", features = ['alloc', 'std']}
derive_more = "0.99"
thiserror = "1.0.20"

[dev-dependencies]
#holochain = { git = "https://github.com/holochain/holochain.git", branch = "develop", features = ["test_utils"] }
#holochain_types = { git = "https://github.com/holochain/holochain.git", branch = "develop", features = ["test_utils"] }
# holochain = { path = "../../../chain/crates/holochain/"}
# holochain_types = { path = "../../../chain/crates/holochain_types/"}
tokio = { version = "1.3", features = ["full"]}
observability = "0.1.2"
nanoid = "0.3"
futures = "0.3.1"
stream-cancel = "0.8.0"
