[workspace]
members = [
  "zomes/chat",
  "zomes/profile",
]

[profile.dev]
opt-level = "z"

[profile.release]
opt-level = "z"

[patch.crates-io]
#rkv = { git = "https://github.com/holochain/rkv.git", branch = "master" }
#lmdb-rkv = { git = "https://github.com/holochain/lmdb-rs.git" }
#observability = { git = "https://github.com/freesig/observability.git", branch = "metrics" }
#tokio_safe_block_on = { git = "https://github.com/neonphog/tokio_safe_block_on.git", branch = "fix_holochain_bug" }
hc_utils = {git = "https://github.com/holochain/hc-utils", branch = "03-12/hc-bump", package = "hc_utils"}
# hdk = { path = "../holochain/crates/hdk" }
hdk = {git = "https://github.com/holochain/holochain", rev = "a82372a62d46a503e48f345360d0fb18cc5822d1", package = "hdk"}
# hdk = { path = "../holochain/crates/hdk" }
